body, .wrapper, #hidden-button {
	margin: 0; padding: 0;
	width: 100vw; height: 100vh;
}

.wrapper, #hidden-button {
	position: absolute;
	top: 0; left: 0;
}

.wrapper {
	text-align: center;
	background-color: #000;
	display: flex;
	align-items: center;
	justify-content: center;
}

#stopwatch {
	position: relative;
	margin: 0; padding: 0;
	font-size: 6rem;
	font-family: monospace;
	color: #fff;
}

#hidden-button {
	background: none;
	border: none;
	outline: none;
}

.blink {
	animation: blinker 1s step-start infinite;
}

@keyframes blinker {
	50% { opacity: 0; }
}

#reload {
	-webkit-tap-highlight-color: transparent;
	position: fixed;
	top: 2rem; left: 2rem;
	width: 4rem; height: 4rem;
	line-height: 4rem;
	font-size: 2.5rem;
	color: #000;
	background-color: transparent;
	border-radius: .5rem;
	border: none;
	outline: none;
	cursor: pointer;
	display: flex;
	align-items: stretch;
	justify-content: center;
	text-align: center;
	overflow: hidden;
	z-index: 9999;
}

#reload img {
	position: absolute;
	inset: 0;
	margin: auto; padding: 0;
	transform: rotate(-7deg);
	max-height: 75%;
	max-width: 75%;
	width: auto; height: auto;
	object-fit: contain;
}

@media screen and (orientation: portrait) {
	:root {
		font-size: 8px;
	}
	#reload {
		top: calc(100% - 20rem);
		left: 4rem;
		width: 8rem; height: 8rem;
	}
}
